@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Noto Sans KR', sans-serif;
  color: var(--black);
  background-color: #F5F6F8;
}

:root {
  --black: #3B434E;
  --gray-light: #EBEBEB;
  --gray-light-hover: #bab4b4;
  --white: white;
  --primary: #7653FC;
  --primary-hover: #310acd;
  --red: #FC836D;
  --green: #C8F8E4;
  --green-light: #C8F8E4;
}